body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MINE-FIELD */

.mine-field {
  display: grid;
  border: 1px solid #000;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

/* SPOT-AREA */

.spot-area {
  border: 1px solid #000;
  background-color: lightblue;
  display: grid;
}

.spot-area.-revealed::before {
  background-color: green;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100px;
  width: 100px;
}

.spot-area.-revealed.-mine::before {
  background-color: red;
}

/* SCORE-BOARD */

.score-board {
  display: flex;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.score-board .score {
  padding: .5rem 1rem;
  border-radius: .3rem;
  color: white;
}

.score-board .score.-clear {
  background-color: green;
}

.score-board .score.-exploded {
  background-color: red;
}
