body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mine-field {
  display: grid;
  border: 1px solid #000;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.spot-area {
  border: 1px solid #000;
  background-color: lightblue;
  display: grid;
}

.spot-area.-revealed::before {
  background-color: green;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100px;
  width: 100px;
}

.spot-area.-revealed.-mine::before {
  background-color: red;
}
